<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="EdoGo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EdoGo"
        tools:targetApi="31">
        <activity
            android:name=".TestAlg7Class_part6"
            android:exported="false" />
        <activity
            android:name=".TestAlg7Class_part5"
            android:exported="false" />
        <activity
            android:name=".TestAlg7Class_part4"
            android:exported="false" />
        <activity
            android:name=".TestAlg7Class_part3"
            android:exported="false" />
        <activity
            android:name=".TestAlg7Class_part2"
            android:exported="false" />
        <activity
            android:name=".TestAlg7Class_part1"
            android:exported="false" />
        <activity
            android:name="TestHisRus7.Test2HisRus7_part3"
            android:exported="false" />
        <activity
            android:name="TestHisRus7.Test2HisRus7_part2"
            android:exported="false" />
        <activity
            android:name="TestHisRus7.Test2HisRus7_part1"
            android:exported="false" />
        <activity
            android:name="TestHisRus7.TestHisRus7_part2"
            android:exported="false" />
        <activity
            android:name="TestHisRus7.TestHisRus7_part1"
            android:exported="false" />
        <activity
            android:name="TestBio7.TestBio7_part3"
            android:exported="false" />
        <activity
            android:name="TestBio7.TestBio7_part2"
            android:exported="false" />
        <activity
            android:name="TestBio7.TestBio7_part1"
            android:exported="false" />
        <activity
            android:name="TestMat6.Test2Mat6_part3"
            android:exported="false" />
        <activity
            android:name="TestMat6.Test2Mat6_part2"
            android:exported="false" />
        <activity
            android:name="TestMat6.Test2Mat6_part1"
            android:exported="false" />
        <activity
            android:name="TestMat6.TestMat6_part3"
            android:exported="false" />
        <activity
            android:name="TestMat6.TestMat6_part2"
            android:exported="false" />
        <activity
            android:name="TestMat6.TestMat6_part1"
            android:exported="false" />
        <activity
            android:name="TestComun6.TestComun6_part3"
            android:exported="false" />
        <activity
            android:name="TestComun6.TestComun6_part2"
            android:exported="false" />
        <activity
            android:name="TestComun6.TestComun6_part1"
            android:exported="false" />
        <activity
            android:name="TestEng.TestEng6"
            android:exported="false" />
        <activity
            android:name="TestEng.TestEng5"
            android:exported="false" />
        <activity
            android:name="TestMat5.Test2Mat5_part3"
            android:exported="false" />
        <activity
            android:name="TestMat5.TestMat5_part3$Test2Mat5_part2"
            android:exported="false" />
        <activity
            android:name="TestMat5.Test2Mat5_part1"
            android:exported="false" />
        <activity
            android:name="TestMat5.TestMat5_part3"
            android:exported="false" />
        <activity
            android:name="TestMat5.TestMat5_part2"
            android:exported="false" />
        <activity
            android:name="TestMat5.TestMat5_part1"
            android:exported="false" />
        <activity
            android:name="TestInfor5.TestInfor5_part3"
            android:exported="false" />
        <activity
            android:name="TestInfor5.TestInfor5_part2"
            android:exported="false" />
        <activity
            android:name="TestInfor5.TestInfor5_part1"
            android:exported="false" />
        <activity
            android:name="VideoAlg7Class.VideoAlg7_part1"
            android:exported="false" />
        <activity
            android:name="VideoHisRus7Class.Video2HisRus7_part3"
            android:exported="false" />
        <activity
            android:name="VideoHisRus7Class.Video2HisRus7_part2"
            android:exported="false" />
        <activity
            android:name="VideoHisRus7Class.Video2HisRus7_part1"
            android:exported="false" />
        <activity
            android:name="VideoHisRus7Class.VideoHisRus7_part2"
            android:exported="false" />
        <activity
            android:name="VideoHisRus7Class.VideoHisRus7_part1"
            android:exported="false" />
        <activity
            android:name="VideoAlg7Class.VideoAlg7_part6"
            android:exported="false" />
        <activity
            android:name="VideoAlg7Class.VideoAlg7_part5"
            android:exported="false" />
        <activity
            android:name="VideoAlg7Class.VideoAlg7_part4"
            android:exported="false" />
        <activity
            android:name="VideoAlg7Class.VideoAlg7_part3"
            android:exported="false" />
        <activity
            android:name="VideoAlg7Class.VideoAlg7_part2"
            android:exported="false" />
        <activity
            android:name="VideoBio7Class.VideoBio7_part3"
            android:exported="false" />
        <activity
            android:name="VideoBio7Class.VideoBio7_part2"
            android:exported="false" />
        <activity
            android:name="VideoBio7Class.VideoBio7_part1"
            android:exported="false" />
        <activity
            android:name="VideoMat6Class.Video2Mat6_part3"
            android:exported="false" />
        <activity
            android:name="VideoMat6Class.Video2Mat6_part2"
            android:exported="false" />
        <activity
            android:name="VideoMat6Class.Video2Mat6_part1"
            android:exported="false" />
        <activity
            android:name="VideoMat6Class.VideoMat6_part3"
            android:exported="false" />
        <activity
            android:name="VideoMat6Class.VideoMat6_part2"
            android:exported="false" />
        <activity
            android:name="VideoMat6Class.VideoMat6_part1"
            android:exported="false" />
        <activity
            android:name="VideoEng.VideoEng6"
            android:exported="false" />
        <activity
            android:name="VideoComun6Class.VideoComun6_part3"
            android:exported="false" />
        <activity
            android:name="VideoComun6Class.VideoComun6_part2"
            android:exported="false" />
        <activity
            android:name="VideoComun6Class.VideoComun6_part1"
            android:exported="false" />
        <activity
            android:name="VideoEng.VideoEng5"
            android:exported="false" />
        <activity
            android:name="VideoMat5Class.Video2Mat5_part3"
            android:exported="false" />
        <activity
            android:name="VideoMat5Class.Video2Mat5_part2"
            android:exported="false" />
        <activity
            android:name="VideoMat5Class.Video2Mat5_part1"
            android:exported="false" />
        <activity
            android:name="VideoMat5Class.VideoMat5_part3"
            android:exported="false" />
        <activity
            android:name="VideoMat5Class.VideoMat5_part2"
            android:exported="false" />
        <activity
            android:name="VideoMat5Class.VideoMat5_part1"
            android:exported="false" />
        <activity
            android:name="VideoInfor5Class.VideoInfor5_part3"
            android:exported="false" />
        <activity
            android:name="VideoInfor5Class.VideoInfor5_part2"
            android:exported="false" />
        <activity
            android:name="VideoInfor5Class.VideoInfor5_part1"
            android:exported="false" />
        <activity
            android:name="Select.Selection_7"
            android:exported="false" />
        <activity
            android:name="Select.Selection_6"
            android:exported="false" />
        <activity
            android:name="Select.Selection_5"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>